.calc__keypad {
	background-color: var(--keypad-background);
	padding: 1.5rem;
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(2.9rem, 1fr));
	grid-template-rows: repeat(5, minmax(2.9rem, 1fr));
	gap: 1.25rem 1.2rem;
}
