.calc__header {
	color: var(--text-color-1);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin-bottom: 1.5rem;
}
.calc__header-title {
	font-weight: 600;
}
