.calc__screen {
	background-color: var(--screen-background);
	padding: 1.8rem 1.5rem;
	border-radius: 0.5rem;
	color: var(--text-color-1);
	font-size: 3rem;
	text-align: right;
	font-weight: 600;
	margin-bottom: 1rem;
	overflow-x: hidden;
}
